header {
    width: 100%;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2em;
    padding-right: 2em;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}