table.a {
    width: 17em ;
}
table.b {
    width: 30em;
    padding-top: 4em;
    padding-bottom: 4em;
}
img.a {
    display: none;
    padding-top: 4em;
    padding-bottom: 4em;
}
img. b{
    display: none;
    padding-top: 6em;
    padding-bottom: 4em;
}
p.a {
    display: inline-flex;
    padding-top: 4em;
    padding-bottom: 0em;
}
label {
    display: none;
}
fieldset{
    display: none;
    width: 50em;
    padding-left: 3em;
}
h5{
    display: none;
}
main {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-left: 12em;
    padding-right: inherit;
    padding-top: 2em;
    padding-bottom: 2em;
    align-content: center;
    flex-direction: inherit;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2em;
    align-content: center;
}
.inline{
    display: inline-flex;
    flex-direction: row-reverse;
    text-align: center;
}
.border-box{
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
.inline{
    display: inline-flex;
}
.left {
    float: left;
    display: inline-flex;
}
.right {
    float: right;
    display: inline-flex;
}
.center {
    text-align: center;
}